body{
  background-color: #1f2924;
  font-family: 'Roboto', sans-serif;
}
h1{
  color: #4b5b49;
  text-align: center;
  font-size: 40px;
  font-family:'New Tegomin', serif;'
}
p{
  font-family:'Apple Chancery', cursive;
  color: #1c2021;
}